@import "tailwindcss";

body {
    height: 100vh;
    overflow: hidden;
}

.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    @apply h-full w-full;
}
